* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body {
	font-family: 'Moserrat', sans-serif;
}
.title{
	font-weight: bold;
	font-size: 1.5em;
	color: #000;
}
.title-intro{
	font-family: 'Great Vibes', cursive;
}
.get {
	letter-spacing: 2px;
}
.intro {
	/*background-image: url('../img/bg_landing_page.jpg');*/
	width: 100%;
    height: 100vh;
    overflow: hidden;
	padding-top: 1em;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.welcome {
	background: #18564a;
	width: 100%;
	height: 70px;
	line-height: 70px;
	color: #fff;
	font-weight: bold;
	font-size: 2em;
}
.hr_line {
	width: 90%;
	height: 1px;
	background: #000;
	margin: 20px;
}
a.footer-a-tag {
	color: #fff;
}
.footer-title{
	color: #fff;
	font-family: 'Great Vibes', cursive;
	font-size: 3em;
	text-shadow: 10px 5px 5px #000;
	letter-spacing: 1.5px;
}
.par1-index{
	background-color: #fff;
	background: url('../img/part1-index.jpg');
    width: 100%;
    height: calc(100% - 1.71875rem);
    overflow: hidden;
	padding-top: 1em;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
h1.title-header{
	padding: 2.5em;
	font-family: 'Anton', sans-serif;
	font-size: 5em;
	font-weight: bold;
	text-shadow: 10px 5px 5px #0d2f29;
	color: #dedede;
	letter-spacing: 1s.5px;
}
span.and{
	margin-left: .5em;
}
span.dorm{
	margin-left: 1em;
}
.about-us-h3{
	margin-top: 1em;
	font-weight: bold;
}
.about-us-p{
	font-size: 1.3em;
	text-indent: 50px;
	text-align: justify;
}
.our-team{
	font-size: 2.5em;
	font-weight: bold;
}
.member-container{
	/*height: 500px;*/
	width: 100%;
	padding: 10px;
}
.member-images{
	padding: 10px;
    text-align: center;
}
.member-img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 1px solid #000;
}
.member-name{
	margin: 0;
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
}
.member-details-p{
	font-size: 1em;
	text-indent: 50px;
	text-align: justify;
}
/*Contact sectiom*/
.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center; 

}
#contact{
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 550px;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #6a9a75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 13px;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.2em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;
}
h3.rooms{
	margin-top: 1em;
	font-weight: bold;
	font-size: 2.5em;
}
img.img-view-room {
	width: 100%;
}
.container-cybod{
	border: 0.5rem dashed #000;
  	/*outline: 0.5rem solid khaki;*/
  	box-shadow: 0 0 3em 0 #87c3eb;
  	border-radius: 12px;
  	font: bold 1rem sans-serif;
  	margin: 2rem;
  	padding: 1rem;
  	/*outline-offset: 0.5rem;*/
  	height: 500px;
}
h3.cybod{
	font-size: 5em;
	font-family: 'IM Fell English SC', serif;
	/*font-family: 'Anton', sans-serif;*/
	font-weight: bold;
	color: #1c8874;
}
.c-button{
	padding: 10px;
	width: 300px;
	color: #000;
}
.modal-dialog{
	max-width: 90%;/*
	margin-top: 12em;*/
	/*border-radius: 1px;*/
}
.modal-title{
	font-size: 3em;
}
/*
 *
 *User list table
 *
 */
.house-pending-list{
	width: 100%;
}
/*
 *
 *Approve Modal
 *
 *
*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/*
 *
 *Vertical Tab House 
 *
 */

 .nav.nav-tabs {
     float: left;
     display: block;
     margin-right: 20px;
     border-bottom:0;
     border-right: 1px solid #ddd;
     padding-right: 15px;
     font-size: 2em;
     font-weight: bold;
 }
 .nav-tabs .nav-link {
     border: 1px solid transparent;
     border-top-left-radius: .25rem;
     border-top-right-radius: .25rem;
     background: #ccc;
 }

 .nav-tabs .nav-link.active {
     color: #495057;
     /*background-color:#007bff !important;*/
     border-right: transparent !important;
     border-top: 1px solid #000;
     border-bottom: 1px solid #000;
     border-left: 1px solid #000;
 }
 .nav-tabs .nav-link {
     border: 1px solid #000;
     border-top-left-radius: 0rem!important;
     border-top-right-radius: 0rem!important;
 }
 .tab-content>.active {
     display: block;
     /*background: #007bff;*/
     min-height: 500px;
 }
 .nav.nav-tabs {
     float: left;
     display: block;
     margin-right: 20px;
     border-bottom: 0;
     border-right: 1px solid transparent;
     padding-right: 15px;
 }
 .nav-tabs .nav-item{
 	width: 200px;
 }
.tab-content{
	border: 1px solid #000;
}


div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate{
	margin-top: 2em;
}