* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Moserrat', sans-serif;
}
.title{
	font-weight: bold;
	font-size: 1.5em;
	color: #000;
}
.title-intro{
	font-family: 'Great Vibes', cursive;
}
.get {
	letter-spacing: 2px;
}
.intro {
	/*background-image: url('../img/bg_landing_page.jpg');*/
	width: 100%;
    height: 100vh;
    overflow: hidden;
	padding-top: 1em;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.welcome {
	background: #18564a;
	width: 100%;
	height: 70px;
	line-height: 70px;
	color: #fff;
	font-weight: bold;
	font-size: 2em;
}
.hr_line {
	width: 90%;
	height: 1px;
	background: #000;
	margin: 20px;
}
a.footer-a-tag {
	color: #fff;
}
.footer-title{
	color: #fff;
	font-family: 'Great Vibes', cursive;
	font-size: 3em;
	text-shadow: 10px 5px 5px #000;
	letter-spacing: 1.5px;
}
.par1-index{
	background-color: #fff;
	background: url('../img/part1-index.jpg');
    width: 100%;
    height: calc(100% - 1.71875rem);
    overflow: hidden;
	padding-top: 1em;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}