* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body {
	font-family: 'Moserrat', sans-serif;
}
.title{
	font-weight: bold;
	font-size: 1.5em;
	color: #000;
}
.title-intro{
	font-family: 'Great Vibes', cursive;
}
.get {
	letter-spacing: 2px;
}
.intro {
	/*background-image: url('../img/bg_landing_page.jpg');*/
	width: 100%;
    height: 100vh;
    overflow: hidden;
	padding-top: 1em;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.welcome {
	background: #18564a;
	width: 100%;
	height: 70px;
	line-height: 70px;
	color: #fff;
	font-weight: bold;
	font-size: 2em;
}
.hr_line {
	width: 90%;
	height: 1px;
	background: #000;
	margin: 20px;
}
a.footer-a-tag {
	color: #fff;
}
.footer-title{
	color: #fff;
	font-family: 'Great Vibes', cursive;
	font-size: 3em;
	text-shadow: 10px 5px 5px #000;
	letter-spacing: 1.5px;
}
.par1-index{
	background-color: #fff;
	background: url('../img/part1-index.jpg');
    width: 100%;
    height: calc(100% - 1.71875rem);
    overflow: hidden;
	padding-top: 1em;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
h1.title-header{
	padding: 2.5em;
	font-family: 'Anton', sans-serif;
	font-size: 5em;
	font-weight: bold;
	text-shadow: 10px 5px 5px #0d2f29;
	color: #dedede;
	letter-spacing: 1s.5px;
}
span.and{
	margin-left: .5em;
}
span.dorm{
	margin-left: 1em;
}
.about-us-h3{
	margin-top: 1em;
	font-weight: bold;
}
.about-us-p{
	font-size: 1.3em;
	text-indent: 50px;
	text-align: justify;
}
.our-team{
	font-size: 2.5em;
	font-weight: bold;
}
.member-container{
	/*height: 500px;*/
	width: 100%;
	padding: 10px;
}
.member-images{
	padding: 10px;
    text-align: center;
}
.member-img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 1px solid #000;
}
.member-name{
	margin: 0;
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
}
.member-details-p{
	font-size: 1em;
	text-indent: 50px;
	text-align: justify;
}
/*Contact sectiom*/
.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center; 

}
#contact{
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 550px;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #6a9a75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 13px;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.2em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;
}
.house-list-container{
	height: 500px;
}
h3.house{
	margin-top: 1em;
	font-weight: bold;
	font-size: 2.5em;
}
img.img-view-room {
	width: 100%;
}
.hr-line{
	/*margin-top: 1rem;*/
 /*   margin-bottom: 1rem;*/
    border: 0;
    border-top: 1px solid #cecece;
}
.bhod-title-display{
	margin-left: 1em;
	margin-top: .5em;
	font-weight: bold;
	font-size: 2em;
}
span.pending {
	color: red;
	margin-left: .3em;
}
span.approved{
	color: green;
	margin-left: .3em;
}
.bhod-status-display{
	margin-top: 1.5em;
	font-size: 1.2em;
}
.bhod-image-display{
	width: 100%;
	height: 500px;
}
.map{
	min-height: 500px;
	width: 100%;
	/*background-color: pink;*/
}
#map-display{
	height: 500px;
	width: 100%;
}
.container-cybod-house{
	margin-top: 1em;
	margin-bottom: 1em;
	border: 1px solid black;
	min-height: 600px;
}
.container-cybod{
	border: 0.5rem dashed #000;
  	/*outline: 0.5rem solid khaki;*/
  	box-shadow: 0 0 3em 0 #87c3eb;
  	border-radius: 12px;
  	font: bold 1rem sans-serif;
  	margin: 2rem;
  	padding: 1rem;
  	/*outline-offset: 0.5rem;*/
  	height: 500px;
}
h3.cybod{
	font-size: 5em;
	font-family: 'IM Fell English SC', serif;
	/*font-family: 'Anton', sans-serif;*/
	font-weight: bold;
	color: #1c8874;
}
.c-button{
	padding: 10px;
	width: 300px;
	color: #000;
}
.modal-dialog{
	max-width: 90%;/*
	margin-top: 12em;*/
	/*border-radius: 1px;*/
}
.modal-title{
	font-size: 3em;
}
/*
 *
 *User list table
 *
 */
.house-pending-list{
	width: 100%;
}
/*
 *
 *Approve Modal
 *
 *
*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/*
 *
 *Vertical Tab House 
 *
 */
/*


div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate{
	margin-top: 2em;
}

/*
 *
 * Add Room
 *
 */
 .add-room-container{
 	min-height: 500px;
 }
 .add-room-button{
 	height: 90px;
 	width: 90px;
 	border-radius: 50%;
 	/*border: 1px solid #614a4a;*/
 	/*background-color: green;*/
 }
 .add-room-title{
 	font-size: 2em;
 }
 img.gallery-rooms-img{
 	width: 300px;
 	height: 200px;
 	filter: grayscale(100%);
 	transition: 1s;
 }
 img.gallery-rooms-img:hover{
 	filter: grayscale(0);
 	transform: scale(1.1);
 }
 img.lb-image{
 	width: 700px !important;;
 	height: 500px !important;;
 }
.lb-outerContainer, .lb-dataContainer {
    max-width: 700px;
    max-height: 700px;
    width: auto!important;
    height: auto!important;
}
span.room-type, .room-price{
	font-weight: bold;

}
.room_msg_error{
	height: 500px;
}

/*
 *
 *Add Admin
 *
 */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


/*
 *
 *Owner Register
 *
 */

 .owner-reg-container{
 	background: transparent url('../img/owner_reg.png') no-repeat center center fixed;
 	max-width: 100%;
 	left: 0;
 	min-height: 650px;
 	float: left;
 	-moz-opacity: 0.3;
 	-khtml-opacity: 0.3;
 	opacity: 0.7;
 }
 .reg-label{
 	/*font-weight: bold;*/
 	font-size: 1.3em;
 	font-family: 'Francois One', sans-serif;
 	color: #000;
 	/*text-shadow: 10px 5px 5px #000;*/
 }
 form#reg-own-form{
 	position: absolute;
/*    top: 20px;
    left: 20px;*/
    width: 100%;
    overflow: hidden;
    clear: both;
 }
 div.cover{
 	position: absolute;
 	top: 50px;
 	left: 20px;
 	width: 100%;
 	overflow: hidden;
 	clear: both;
 }
 .title-reg-own{
 	/*font-weight: bold;*/
 	font-size: 1.5em;
 	font-family: 'Francois One', sans-serif;
 	color: #000;
 }
 /*
  *
  *Edit Profile
  *
  */

 .img-circle{
 	height: 100px;
 	width: 100px;
 	border-radius: 50%;
 }
 #customFile .custom-file-control:lang(en)::after {
   content: "Select file...";
 }

 #customFile .custom-file-control:lang(en)::before {
   content: "Click me";
 }

 /*when a value is selected, this class removes the content */
 .custom-file-control.selected:lang(en)::after {
   content: "" !important;
 }

 .custom-file {
   overflow: hidden;
 }
 .custom-file-control {
   white-space: nowrap;
 }
 /*
  *
  * View Profile 
  *
  */

 .emp-profile{
    /*padding: 3%;*/
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
    height: 500px;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 200px;
    height: 200px;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
.profile-img
img.avatar-admin{
	height: 140px;
	widows: 140px;
	/*border-radius: 50%;*/
	object-fit: cover;
}